.listpage{
    color: white;
    width: 100vw;
    height: 100vh;
    .back{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin:10px 0 10px 30px;
    }
    .heading{
        margin-left: 30px;
    }
    .wrapper{
        .mylist{
            display: flex;
            flex-wrap: wrap;
            background-color: var(--main-color);
        }
    }
}