:root{
    --main-color:#000000
}
.App{
    background-color: var(--main-color);
    overflow: hidden;
}

@mixin tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  
@mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }